* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

.App {
    padding: 20px 10px 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}